@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'League Spartan', sans-serif;
}

:root,
    :root.escuro {
        --backgroundTotal-color: hsl(222, 26%, 31%);
        --fonteTotal-color: white;
        --botaoTroca-color: hsl(6, 63%, 50%);
        --hoverBotaoTroca-color: hsl(6, 69%, 65%);
        --bordaBackgroundBotaoTroca-color: hsl(224, 36%, 15%);
        --backgroundVisorCalculadora-color: hsl(224, 36%, 15%);
        --fonteVisorCalculadora-color: white; 
        --backgroundTecladoCalculadora-color: hsl(223, 31%, 20%);
        --botaoNumerico-color: hsl(30, 25%, 89%);
        --sombraBotaoNumerico-color:hsl(28, 16%, 65%);
        --fonteBotaoNumerico-color: hsl(221, 14%, 31%);
        --hoverBotaoNumerico-color: hsl(0, 0%, 100%);
        --botaoOperacaoAritmetica-color: hsl(30, 25%, 89%);
        --sombraBotaoOperacaoAritmetica-color: hsl(28, 16%, 65%);
        --fonteBotaoOperacaoAritmetica-color: hsl(221, 14%, 31%);
        --hoverBotaoOperacaoAritmetica-color: hsl(0, 0%, 100%);
        --botaoDEL-color: hsl(225, 21%, 49%);
        --sombraBotaoDEL-color: hsl(224, 28%, 35%);
        --fonteBotaoDEL-color: white;
        --hoverBotaoDEL-color: hsl(226, 15%, 65%);
        --botaoReset-color: hsl(225, 21%, 49%);
        --sombraBotaoReset-color: hsl(224, 28%, 35%);
        --fonteBotaoReset-color: white;
        --hoverBotaoReset-color: hsl(226, 15%, 65%);
        --botaoResultado-color: hsl(6, 63%, 50%);
        --sombraBotaoResultado-color: hsl(6, 70%, 34%);
        --fonteBotaoResultado-color: white;
        --hoverBotaoResultado-color: hsl(6, 69%, 65%);
    }

    :root.claro {
        --backgroundTotal-color: hsl(0, 0%, 90%);
        --fonteTotal-color: hsl(60, 10%, 19%);
        --botaoTroca-color: hsl(25, 98%, 40%);
        --hoverBotaoTroca-color: hsl(25, 54%, 52%);
        --bordaBackgroundBotaoTroca-color: hsl(0, 5%, 81%);
        --backgroundVisorCalculadora-color: hsl(0, 0%, 93%);
        --fonteVisorCalculadora-color: hsl(60, 10%, 19%); 
        --backgroundTecladoCalculadora-color: hsl(0, 5%, 81%);
        --botaoNumerico-color: hsl(45, 7%, 89%);
        --sombraBotaoNumerico-color:hsl(35, 11%, 61%);
        --fonteBotaoNumerico-color: hsl(60, 10%, 19%);
        --hoverBotaoNumerico-color: hsl(0, 0%, 100%);
        --botaoOperacaoAritmetica-color: hsl(45, 7%, 89%);
        --sombraBotaoOperacaoAritmetica-color: hsl(35, 11%, 61%);
        --fonteBotaoOperacaoAritmetica-color: hsl(60, 10%, 19%);
        --hoverBotaoOperacaoAritmetica-color: hsl(0, 0%, 100%);
        --botaoDEL-color: hsl(185, 42%, 37%);
        --sombraBotaoDEL-color: hsl(185, 58%, 25%);
        --fonteBotaoDEL-color: white;
        --hoverBotaoDEL-color: hsl(185, 54%, 63%);
        --botaoReset-color: hsl(185, 42%, 37%);
        --sombraBotaoReset-color: hsl(185, 58%, 25%);
        --fonteBotaoReset-color: white;
        --hoverBotaoReset-color: hsl(185, 54%, 63%);
        --botaoResultado-color: hsl(25, 98%, 40%);
        --sombraBotaoResultado-color: hsl(25, 99%, 27%);
        --fonteBotaoResultado-color: white;
        --hoverBotaoResultado-color: hsl(25, 79%, 62%);
    }

    :root.roxo {
        --backgroundTotal-color: hsl(268, 75%, 9%);
        --fonteTotal-color: hsl(52, 100%, 62%);
        --botaoTroca-color: hsl(176, 100%, 44%);
        --hoverBotaoTroca-color: rgb(205, 236, 234);
        --bordaBackgroundBotaoTroca-color: hsl(268, 71%, 12%);
        --backgroundVisorCalculadora-color: hsl(268, 71%, 12%);
        --fonteVisorCalculadora-color: hsl(52, 100%, 62%); 
        --backgroundTecladoCalculadora-color: hsl(268, 71%, 12%);
        --botaoNumerico-color: hsl(268, 47%, 21%);
        --sombraBotaoNumerico-color:hsl(290, 70%, 36%);
        --fonteBotaoNumerico-color: hsl(52, 100%, 62%);
        --hoverBotaoNumerico-color: hsl(269, 23%, 36%);
        --botaoOperacaoAritmetica-color: hsl(268, 47%, 21%);
        --sombraBotaoOperacaoAritmetica-color: hsl(290, 70%, 36%);
        --fonteBotaoOperacaoAritmetica-color: hsl(52, 100%, 62%);
        --hoverBotaoOperacaoAritmetica-color: hsl(269, 23%, 36%);
        --botaoDEL-color: hsl(281, 89%, 26%);
        --sombraBotaoDEL-color: hsl(285, 91%, 52%);
        --fonteBotaoDEL-color: white;
        --hoverBotaoDEL-color: hsl(281, 47%, 44%);
        --botaoReset-color: hsl(281, 89%, 26%);
        --sombraBotaoReset-color: hsl(285, 91%, 52%);
        --fonteBotaoReset-color: white;
        --hoverBotaoReset-color: hsl(281, 47%, 44%);
        --botaoResultado-color: hsl(176, 100%, 44%);
        --sombraBotaoResultado-color: hsl(177, 92%, 70%);
        --fonteBotaoResultado-color: hsl(198, 20%, 13%);
        --hoverBotaoResultado-color: hsl(176, 51%, 81%);
    }

body {
    background: var(--backgroundTotal-color);
    color:var(--fonteTotal-color);
    display: flex;
    justify-content: center;
}

.calculadoraCompleta {
    display: flex;
    flex-direction: column;
    width: 28%;
    max-width: 40%;
    margin-top: 3%;
    height: 80vh;
}

.parteDeCimaDaCalculadora {
    display: flex;
    justify-content: space-between;
}

.tituloCalculadora {
    font-size: 20px;
    align-self: center;
}

.menuTema {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    justify-content: space-between;
    width: 25%;
}

.tituloTema {
    align-self: center;
}

.selecionadorDeTemas {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.temas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.button {
    height: 0.7vw;
    width: 0.8vw;
    appearance: none;
    background-color: var(--botaoTroca-color);
    border-radius: 50%;
    opacity: 0;
    margin-right: 0.2vw;
    margin-left: 0.2vw;
  }

  .button:hover {
    cursor: pointer;
    background-color: var(--hoverBotaoTroca-color);
  }

  .tri-state-toggle {
    align-items: center;
    display: flex;
    justify-content: center;
    border: 3px solid var(--bordaBackgroundBotaoTroca-color);
    border-radius: 50px;
    background-color: var(--bordaBackgroundBotaoTroca-color);
    margin-top: 10%;
    padding-top: 5%;
  }
  
  #one {
    opacity: 1;
  }

.visorDaCalculadora {
    background: var(--backgroundVisorCalculadora-color);
    color: var(--fonteVisorCalculadora-color);
    font-size: 3em;
    max-width: 100%;
    margin-top: 5%;
    padding: .4em;
    text-align: right;
    align-items: center;
    border-radius: 10px;
    border: none;
}

.tecladoDaCalculadora {
    background: var(--backgroundTecladoCalculadora-color);
    border-radius: 10px;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 7%;
    padding: 5%;
    height: 75vh;
}

.botaoNumerico {
    background-color: var(--botaoNumerico-color);
    border: 0;
    border-radius: 10px;
    box-shadow: 0px 5px var(--sombraBotaoNumerico-color);
    color: var(--fonteBotaoNumerico-color);
    font-size: 32px;
}

.botaoNumerico:hover {
    background-color: var(--hoverBotaoNumerico-color);
    cursor: pointer;
}

.botaoOperacaoAritmetica {
    border: 0;
    border-radius: 10px;
    background-color: var(--botaoOperacaoAritmetica-color);
    box-shadow: 0px 5px var(--sombraBotaoOperacaoAritmetica-color);
    color: var(--fonteBotaoOperacaoAritmetica-color);
    font-size: 32px;
}

.botaoOperacaoAritmetica:hover {
    background-color: var(--hoverBotaoNumerico-color);
    cursor: pointer;
}

.botaoDEL {
    background-color: var(--botaoDEL-color);
    border: 0;
    border-radius: 10px;
    box-shadow: 0px 5px var(--sombraBotaoDEL-color);
    color: var(--fonteBotaoDEL-color);
    font-size: 22px;
}

.botaoDEL:hover {
    background-color: var(--hoverBotaoDEL-color);   
    cursor: pointer;
}

.botaoReset {
    background-color: var(--botaoReset-color);
    border: 0;
    border-radius: 10px;
    box-shadow: 0px 5px var(--sombraBotaoReset-color);
    color: var(--fonteBotaoReset-color);
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 22px;
}

.botaoReset:hover {
    background-color: var(--hoverBotaoReset-color);
    cursor: pointer; 
}

.botaoDeResultado {
    background-color: var(--botaoResultado-color);
    border: 0;
    border-radius: 10px;
    box-shadow: 0px 5px var(--sombraBotaoResultado-color);
    color: var(--fonteBotaoResultado-color);
    grid-column-start: 3;
    grid-column-end: 5;
    font-size: 22px;
}

.botaoDeResultado:hover {
    background-color: var(--hoverBotaoResultado-color);
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .calculadoraCompleta {
        margin-top: 7.5%;
        width: 80%;
        max-width: 80%;
        height: 90vh;
    }

    .tituloCalculadora {
        font-size: 25px;
    }

    .menuTema {
        font-size: 11px;
        width: 30%;
    }
    
    .selecionadorDeTemas {
        width: 50%;
    }

    .button {
        height: 3.5vw;
        width: 3.5vw;
      }
}